  body {
    width: 100%;
    height: auto;
    background: rgba(60, 22, 22, 1);
    font-size: 40px;
    font-family: "Adobe Caslon Pro";
    font-style: italic; 
    font-size: 25px;
    text-align: left;
    overflow-x: hidden;
    color: rgb(35, 9, 9);
  }
  a{
    padding: 10px 25px;
    border-radius: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    position: fixed;
    right: 4%;
    top: 50%;
  }
  .button1:hover{
    background-color: rgba(201, 195, 180, 1);
    color: rgba(60, 22, 22, 1);
  }
  .button1{
    background-color: ;
    color: rgba(201, 195, 180, 1);
  }
  .color1 {
    width: 100%;
    height: 100%;
    background: rgba(160,105,53,0.8);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: rotate(-28deg);
    filter: blur(50rem);
    opacity: 0;
    transition: 1s linear;
  }
  .color1:hover {
    opacity: 1;
    transition: 1s linear;
  }  
  
  .color3 {
    width: 100%;
    height: 100%;
    background: rgba(160,105,53,1);
    position: absolute;
    top: 10%;
    left: 4%;
    border-top-left-radius: 145px;
    border-top-right-radius: 145px;
    border-bottom-left-radius: 145px;
    border-bottom-right-radius: 145px;
    filter: blur(50rem);
    opacity: 0;
    transition: 1s linear;
  }
  .color3:hover {
    opacity: 1;
    transition: 1s linear;
  }
  .color5 {
    width: 40rem;
    height: 658px;
    background: rgba(126,170,181,1);
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    filter: blur(15rem);
    transition: 1s linear;
    opacity: 0;
  }
  .color5:hover {
    opacity: 1;
    transition: 1s linear;
  }
  .color7 {
    width: 45rem;
    height: 20rem;
    rotate: 30deg;
    background: rgba(189,204,103,1);
    position: absolute;
    top: 140%;
    left: 5%;
    border-radius: 50%;
    filter: blur(20rem);
    opacity: 0;
    transition: 1s linear;
  }
  .color7:hover {
    opacity: 1;
    transition: 1s linear;
  }
  .title {
    width: 743px;
    position: absolute;
    top: 15%;
    left: 4%;
    font-family: "Tempting";
    font-weight: Regular;
    font-size: 150px;
  }
  .intro {
    width: 30rem;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 30px;
  }
  .title1 {
    width: 919px;
    position: absolute;
    top: 120%;
    left: 4%;
    font-size: 150px;
    font-family: "Tempting";
  }
  .text1 {
    width: 25rem;
    font-weight: b;
    position: absolute;
    top: 170%;
    left: 30%;
  }
  .text2{
    width: 25rem;
    position: absolute;
    top: 200%;
    left: 60%;
  }
  .text3 {
    width: 25rem;
    position: absolute;
    top: 230%;
    left: 40%;
  
  }

  .title2 {
    width: 100%;
    position: absolute;
    top: 250%;
    left: 4%;
    font-size: 150px;
    font-family: tempting;
  }
  .color2 {
    width: 40rem;
    height: 60rem;
    background-color: rgba(126,170,181,1);
    position: absolute;
    rotate: -45deg;
    top: 240%;
    left: 50%;
    border-radius: 50%;
    rotate: -49deg;
    filter: blur(40rem);
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .color2:hover{
    opacity: 0.5;
    transition: 2s;
  }
  .name1 {
    position: absolute;
    top: 300%;
    left: 70%;
    transform: translateX(-50%);
    font-size: 65px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .explain1 {
    position: absolute;
    top: 310%;
    left: 70%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .name1:hover{
    opacity: 0;
    transition: 0.3s;
  }
  
  .name1:hover ~ .explain1 {
    opacity: 1;
    transition: 0.3s;
  }
 
  .name2 {
    position: absolute;
    top: 320%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 65px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .explain2 {
    position: absolute;
    top: 330%;
    left: 30%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .name2:hover {
    opacity: 0;
    transition: 0.3s;
  }
  
  .name2:hover + .explain2 {
    opacity: 1; 
    transition: 0.3s;
  }
  .color4 {
    width: 40rem;
    height: 20rem;
    background-color: rgba(189,204,103,1);
    position: absolute;
    top: 290%;
    left: 10%;
    border-radius: 50%;
    rotate: -49deg;
    filter: blur(40rem);
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .color4:hover{
    opacity: 1;
    transition: 2s;
  }
  .name3 {
    position: absolute;
    top: 340%;
    left: 70%;
    transform: translateX(-50%);
    font-size: 65px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .explain3 {
    position: absolute;
    top: 350%;
    left: 70%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .name3:hover {
    opacity: 0;
    transition: 0.3s;
  }
  
  .name3:hover + .explain3 {
    opacity: 1; 
    transition: 0.3s;
  }
  .color8 {
    width: 40rem;
    height: 60rem;
    background-color: rgba(160,105,53,1);
    position: absolute;
    top: 300%;
    left: 30%;
    border-radius: 50%;
    rotate: -49deg;
    filter: blur(40rem);
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .color8:hover{
    opacity: 1;
    transition: 2s;
  }
  .name4 {
    position: absolute;
    top: 360%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 65px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .explain4 {
    position: absolute;
    top: 370%;
    left: 30%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .name4:hover {
    opacity: 0;
    transition: 0.3s;
  }
  
  .name4:hover + .explain4 {
    opacity: 1; 
    transition: 0.3s;
  }
  .color9 {
    width: 40rem;
    height: 60rem;
    background-color: rgba(201,195,180,1);
    position: absolute;
    top: 300%;
    left: 0%;
    border-radius: 50%;
    rotate: -49deg;
    filter: blur(40rem);
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .color9:hover{
    opacity: 0.6;
    transition: 2s;
  }
  /* .hidden1{
    padding: 2rem;
    width: 2rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 400%;
    right: -3%;
    opacity: 1;
  }
 .text4 {
    width: 30rem;
    border-radius: 2rem;
    padding: 1rem;
    color: rgba(201,195,180,1);
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 410%;
    left: 45%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .hidden1:hover {
    opacity: 0;
    transition: 0.3s;
  }
  
  .hidden1:hover + .text4 {
    opacity: 1; 
    transition: 0.3s;
  }
  .hidden2{
    padding: 2rem;
    width: 2rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 430%;
    left: -3%;
    opacity: 1;
  }
  .text5 {
    width: 30rem;
    border-radius: 2rem;
    padding: 1rem;
    color: rgba(201,195,180,1);
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 420%;
    left: 25%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .hidden2:hover {
    opacity: 0;
    transition: 0.3s;
  }
  
  .hidden2:hover + .text5 {
    opacity: 1; 
    transition: 0.3s;
  } */
  @media screen and (max-width: 440px) {
    body{
      font-size: 14px;
    }

  }