/* html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  } */

  body {
    width: 200vh;
    background: rgba(201, 195, 180, 1);
  }
  
  .backgroundPhone{
    display: none;
  }
  
  .backgroundDesktop {
    width: 50vw;
    opacity: 45%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
  }
  
  .container{
    background: rgba(201, 195, 180, 1);
  }
  
  .horizontally_title{
    display: flex;
    flex-direction: row;
    gap: 1em;
    color: rgba(60, 22, 22, 1);
    background: rgba(201, 195, 180, 1);
    font-family: 'Tempting',sans-serif;
    font-weight: normal;
    font-size: 200px;
    filter: blur(8px);
    color: rgb(232, 225, 208);
  }
  .horizontally_info {
    width: 400vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: -90%;
    background: rgba(201, 195, 180, 1);
    color: rgba(60, 22, 22, 1);
  }
  
  .horizontally_info #description {
    width: 40rem;
    font-family: "adobe caslon pro";
    font-style: italic;
    font-size: 30px;
    margin-left: 25%;
  }
  .horizontally_info #subtitle {
    width: 4rem;
    font-family: "adobe caslon pro";
    font-style: italic;
    font-size: 35px;
  }
  .button1 {
    background-color: rgba(201, 195, 180, 1);
    color: rgba(60, 22, 22, 1);
    padding: 10px 25px;
    border-radius: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    position: absolute;
    right: 35%;
    top: 55%;
  }
  .button1:hover {
    background-color: rgba(60, 22, 22, 1);
    color: rgba(201, 195, 180, 1);
  }
  
  /* if mobile devices, use these styles */
  @media screen and (max-width: 440px) {
    body {
      height: 200vh;
      width: 100%;
      background: rgba(201, 195, 180, 1);
    }
  
    .backgroundDesktop{
      display: none;
    }
  
    .backgroundPhone {
      display: block;
      width: 50vw;
      opacity: 45%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10%);
    }
    
    .backgroundPhone {
      width: 50vw;
      opacity: 45%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10%);
    }
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background: transparent;
    }
    
    .horizontally_info {
      height: 125vh;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-grow: 0;
      background: transparent;
    }
    
    .horizontally_info #subtitle {
      width: 200px;
      color: rgba(60, 22, 22, 1);
      position: absolute;
      top: 1232px;
      left: 50px;
      font-family: "Adobe caslon pro";
      font-style: italic;
      font-size: 50px;
      opacity: 1;
      text-align: left;
    }
    
    .horizontally_info #description {
      flex-grow: 1;
      color: rgba(60, 22, 22, 1);
      position: absolute;
      top: 1241px;
      left: 300px;
      font-family: "Adobe caslon pro";
      font-style: italic;
      font-size: 45px;
      opacity: 1;
      text-align: left;
      margin-left: 0;
    }
    
    .horizontally_title {
      font-size: 10vw;
      height: 75vh;
      filter: none;
      color: rgba(60, 22, 22, 1);
      background: transparent;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  
    .button1{
      display: none;
    }
  }