body {
  font-size: 14px;
  background: rgba(201, 195, 180, 1);
  color: white;
  font-family: "Adobe Caslon Pro";
  font-style: italic;
  font-size: 25px;
  text-align: center;
} 
@font-face {
  font-family: "Tempting";
  src: url(./fonts/Tempting\ -\ PERSONAL\ USE\ ONLY.ttf);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 260px;
  display: flex;
  align-items: center;
  color: steelblue;
  background: transparent;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;

}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background: #ffffff95;
  box-shadow: 0 5 10px rgba(0,0,0,0.1);
  transition: all 0.5s ease;
}

nav.open .sidebar{
  left: 0;
}

.sidebar .sidebar-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list{
  list-style: none;
}

.list .nav-link{
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover{
  background: rgba(60, 22, 22, 1);
}

.nav-link .icon{
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.nav-link .link{
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link{
  color: #fff;
}

.overlay{
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 200%;
  opacity: 0;
  background: rgba(0,0,0,0.3);
  transition: all 0.4s ease;
  pointer-events: none;
}

nav.open ~ .overlay{
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

.title {
  color: rgba(60,22,22,1);
  position: fixed;
  top: 40%;
  left: 4%;
  font-family: 'Tempting', sans-serif;
  font-weight: normal;
  font-size: 100px;
  text-align: left;
}
.title2 {
  color: rgba(60,22,22,1);
  position: fixed;
  top: 40%;
  right: 4%;
  font-family: 'Tempting', sans-serif;
  font-weight: normal;
  font-size: 100px;
  text-align: right;
}
.subtitle{
  color: rgba(60,22,22,1);
  position: fixed;
  top: 0%;
  margin-left: 40%;
  font-family: 'Tempting', sans-serif;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}

.quote{
  width: 20rem;
  position: absolute;
  top: 40%;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
.line1{
  border-right: 2px solid white;
  height: 20%;
  position: absolute;
  top: 55%;
  margin-left: 50%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.quote1{
  width: 20rem;
  position: absolute;
  top: 75%;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote1:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
.line2{
  border-right: 2px solid white;
  height: 10%;
  position: absolute;
  top: 90%;
  margin-left: 50%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.quote2{
  width: 20rem;
  position: absolute;
  top: 100%;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote2:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
.line3{
  border-right: 2px solid white;
  height: 15%;
  position: absolute;
  top: 115%;
  margin-left: 50%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.quote3{
  width: 20rem;
  position: absolute;
  top: 130%;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote3:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
.quote4{
  width: 20rem;
  position: absolute;
  top: 190%;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote4:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
.line4{
  border-right: 2px solid white;
  height: 20%;
  position: absolute;
  top: 205%;
  margin-left: 50%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.quote5{
  width: 20rem;
  position: absolute;
  top: 225%;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote5:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
.line5{
  border-right: 2px solid white;
  height: 10%;
  position: absolute;
  top: 250%;
  margin-left: 50%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.quote6{
  width: 20rem;
  position: absolute;
  top: 260%;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote6:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
.line6{
  border-right: 2px solid white;
  height: 20%;
  position: absolute;
  top: 285%;
  margin-left: 50%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.quote7{
  width: 20rem;
  position: absolute;
  top: 305%;
  padding-bottom: 50rem;
  margin-left: 40%;
  transition: 0.5s linear;
  filter: blur(0px);
}
.quote7:hover {
  filter: blur(5px);
  transition: 0.5s linear;
}
 /* a{
  padding: 10px 25px;
  border-radius: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  position: fixed;
  right: 4%;
  top: 50%;
} 
.button1:hover{
  background-color: rgba(201, 195, 180, 1);
  color: rgba(60, 22, 22, 1);
}
.button1{
  background-color: rgba(60, 22, 22, 1);
  color: rgba(201, 195, 180, 1);
} */
 @keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
} 

p {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
.largeScreenImage {
  position: fixed;
  right: 15%;
  top: 1%;
  opacity: 1;
  opacity: 0.45;
  mix-blend-mode: difference;
  z-index: -10;
  }
.smallScreenImage {
  opacity: 0;
  position: fixed;
  top: 4%;
  left: 0%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 700px) {


  .smallScreenImage {
    opacity: 0.45;
  }

  .largeScreenImage {
    opacity: 0;
  }
}